<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/foundation-icons/foundation-icons.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css"/>
    <script src="../../../../bower_components/jquery/dist/jquery.js"></script>


</head>
<body>
<div class="row" id="form">
    <div class="small-12 medium-12 columns">

        <h1>My Books </h1>
        <table class="table table-striped table-bordered table-list clientsTable" style="text-align: center">
            <thead>
            <tr>
                <th style="text-align: center">Book ID</th>
                <th style="text-align: center">Book Name</th>
                <th style="text-align: center">Author</th>
                <th style="text-align: center">Genre</th>
                <th style="text-align: center"></th>
                <!--<th ></th>-->
            </tr>

            </thead>
            <tbody>
            <tr class="tr" th:each="book : ${books}" th:data-id="${book.id}">
                    <td  class="id" th:text="${book.id}"></td>
                    <td contenteditable="true" class="bookName" th:text="${book.bookName}"><i class="fi-pencil"></i></td>
                    <td  class="authorName" th:text="${book.author.authorName}"></td>
                    <td class="bookGenre" th:text="${book.genre.bookGenre}"></td>
                    <td>
                        <div class="button-group">
                            <a class="button delete" >Delete</a>
                            <a class="button update" >Update</a>

                        </div>
                    </td>
                </form>
            </tr>

            </tbody>
        </table>
        <form th:action="@{/save}" method="post" th:object="${newBook}">
            <!--     <label>ID
                     <input type="text" th:field="*{id}">
                 </label>-->
            <label>Book
                <input type="text" th:field="${newBook.bookName}">
            </label>
            <label>Book Author
                <select th:field="*{bookAuthor}">
                    <option value="1">Agatha Christie</option>
                    <option value="2">William Shakespeare</option>
                    <option value="3">Paulo Coelho</option>
                    <option value="4">Stephen King</option>
                </select>
            </label>
            <!--<input type="text" th:field="*{bookAuthor}">-->
            <label>Book Genre
                <select th:field="*{bookGenre}">
                    <option value="1">classic</option>
                    <option value="2">comedy</option>
                    <option value="4">detective</option>
                    <option value="3">fantasy</option>
                </select>
            </label>
            <!--<input type="text" th:field="*{bookGenre}">-->

            <button type="submit" class="button" value="Submit">Add New Book or Update by ID</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.js"></script>

<script>
    'use strict';
    $(document).foundation();

    $(".delete").click(function () {

        var url = "/delete/" + $(this).closest(".tr").data('id');
        console.log(url);
        $.ajax(url, {
            method: "DELETE",
            success: function () {
                console.log("deleted");
            }
        });
        $(this).closest(".tr").remove();

    });

    $(".update").click(function () {

        var url = "/saveNewBook";

        var book = {
            id: $(this).closest(".tr").find(".id").text(),
            bookName: $(this).closest(".tr").find(".bookName").text()
//            author: $(this).closest(".tr").find(".authorName").text(),
//            genre: $(this).closest(".tr").find(".bookGenre").text()

        };
        console.log(url);
        $.ajax(url, {
            method: "POST",
            data: JSON.stringify(book),
            dataType: "application/json",
            contentType:"application/json",
            success: function () {
                console.log("updated");
            }
        });


    });

    /*    $(document).ready(function () {
     $("#delete").onclick(function () {
     $.delete("/delete/{"+$("#id").value+"}" );


     });
     })*/

</script>
</body>
</html>